<!DOCTYPE html>
<html lang="en">
<head>
    <title>EPISODES</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <section class="center_box">
      <img src="../static/tittolo2.png" height="100px"/>
    </section>
    
   
    {% for item in units %}
        <p>
        <section id="overlay">

          <p > Stagione: {{item[1]}} </p>
          <p> Titolo Episodio: {{item [2]}}</p>
          <p>  Trama: {{item [3]}}</p>
          <p> Durata: {{item[5]}}</p>
          <p> Data: {{item [6]}}</p>
          <p> Stelle: {{item[4]}}</p>
            
          <p>Personaggio: {{item[9]}}</p>
          <p>Citazione: {{item[10]}}</p>
          <p>Numero_episodio: {{item[12]}}</p>
          
        </section>
            
        </p>
        <img id="myImage" src="../static/images/{{item[0]}}.jpg" alt="{{item[0]}}" class="grandezza">
    {% endfor %}


</body>
</html>