<!DOCTYPE html>
<html lang="en">
<head>
    <title>EPISODES</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <h1>the office</h1>
    <img src="22.png" height="500px"/>
   
    {% for item in units %}
        <p>
          <o>
          
            Stagione: {{item[1]}}
            Titolo Episodio: {{item [2]}}
            Trama: {{item [3]}}
            Durata: {{item[5]}}
            Data: {{item [6]}}
            Stelle: {{item[4]}}
            
            Personaggio {{item[9]}}
            Citazione {{item[10]}}
            Stagione {{item[11]}}
            Numero_episodio {{item[12]}}


    

          </ol>
            

            
        </p>
        <img src="../static/images/{{item[0]}}.jpg" alt="{{item[0]}}" width="200">
    {% endfor %}


</body>
</html>