<!DOCTYPE html>
<html lang="en">
<head>
    <title>EPISODES</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <section class="center_box">
      <a href="https://www.imdb.com/title/tt0386676/"  target="_blank">  <img src="../static/tittolo2.png" height="100px"/>  </a>
    </section>
   

  <ul class="navbar">    
  

   <li class="navbar-item"> <a href="/Stagione1" target="_blank"> Stagione 1 </a>  </li>
   <li class="navbar-item"> <a href="/Stagione2" target="_blank"> Stagione 2 </a> </li>
 
 
   </ul>
   <img src="../static/The-Office.jpeg" class="center_box1"/>
   


</body>
</html>