<!DOCTYPE html>
<html lang="en">
<head>
    <title> Stagione 2</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

  <h1 class="center_box"> STAGIONE 2 </h1>
  
  <ul class="navbar">    
  
    <li class="navbar-item"> <a href="/" target="_blank"> HOME </a>  </li>
  
    </ul>
  <div class="container">
    {% for item in myresult2 %}

    <div id="tutto" >
      <div id="overlay" class="grandezza" >
        
          Stagione: {{item[1]}} 
          Titolo Episodio: {{item [2]}}
          Trama: {{item [3]}}
          Durata: {{item[5]}}
          Data: {{item [6]}}
          Stelle: {{item[4]}}
       

        <p>Personaggio: {{item[9]}}</p>
        <p>Citazione: {{item[10]}}</p>
        <p>Numero_episodio: {{item[12]}}</p>

      </div>

      <div >
        <img class="grandezza" src="../static/images/{{item[0]}}.jpg" alt="{{item[0]}}" >
      </div>
   
    </div>

  {% endfor %}
</div>


</body>
</html>